<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-11 mx-auto">
            <div class="row">
                {{!-- Image container --}}
                <h1>{{task.task_name}}</h1>
                <div class="col-md-6 img-container" style="height: 300px;" id="img-container">
                    <img src="{{task.imageUrl}}" alt="" id="mainImg">
                </div>

                {{!-- Dates container --}}
                <div class="col-md-6 shadow rounded p-3">
                    <h1>Prochaines dates</h1>
                    <div class="row">
                        <div class="col-md-4 mx-auto mt-3">
                            <div class="p-3 pb-1 bg-light border rounded text-center">
                                <p>Date 1</p>
                            </div>
                            <div class="row">
                                <div class="d-grid">

                                    <button type="button" class="btn btn-outline-warning mt-2">Place disponible</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mx-auto mt-3">
                            <div class="p-3 pb-1 bg-light border rounded text-center">
                                <p>Date 2</p>
                            </div>
                            <div class="row">
                                <div class="d-grid">

                                    <button type="button" class="btn btn-outline-warning mt-2">Place disponible</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mx-auto mt-3">
                            <div class="p-3 pb-1 bg-light border rounded text-center">
                                <p>Date 3</p>
                            </div>
                            <div class="row">
                                <div class="d-grid">

                                    <button type="button" class="btn btn-outline-warning mt-2">Place disponible</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Desc container --}}
                <div class="desc-container shadow rounded my-5">
                    <h1>Description</h1>
                    <p>{{task.task_desc}}</p>
                </div>

            </div>

        </div>
    </div>
</div>