<h1 class="text-center">Créer une tâche</h1>

<div class="container mt-5">
    <form action="/task/create" method="POST" onsubmit="return taskCheck()">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="taskName" class="mb-2 fs-4"><i class="bi bi-vector-pen"></i> Nom de la tâche</label>
                    <input type="text" id="taskName" name="taskName" class="form-control border-warning-subtle">
                </div>
            </div>

        </div>

        <div class="form-group mt-4">
            <label for="taskDescription" class="mb-2 fs-4"><i class="bi bi-vector-pen"></i> Description de la
                tâche</label>
            <textarea id="taskDescription" name="taskDescription" class="form-control border-warning-subtle"
                rows="4"></textarea>
        </div>
        <div class="row">
            <div class="form-group col-4 mt-4">

            </div>
            <div class="d-flex row">
                <div class="form-group col-6 mx-auto mt-4">
                    <label for="playerNumber" class="mb-2 fs-4"><i class="bi bi-person-fill-add m-2"></i> Nombre de
                        participants</label>
                    <input type="number" id="playerNumber" name="playerNumber"
                        class="form-control border-warning-subtle">
                </div>
                <div class="form-group col-6 mx-auto mt-4">
                    <label for="UrgentTask" class="mb-2 fs-4"><i class="bi bi-exclamation-octagon"></i> Tâche urgente ?
                    </label>
                    <div class="d-flex row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="UrgentTask" id="UrgentTask1">
                            <label class="form-check-label" for="UrgentTask1">
                                Oui
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="UrgentTask" id="UrgentTask2" checked>
                            <label class="form-check-label" for="UrgentTask2">
                                Non
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{#if errors}}
        <div class="mb-3">
            {{#each errors}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{msg}} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/each}}
        </div>
        {{/if}}
        {{#if error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}


        <button type="submit" class="btn btn-warning mt-5 mb-2">Créer la tâche</button>
    </form>
</div>

<script src="/js/taskCheck.js" defer></script>