:root {
    --bg-white: #ffffff;
    --bg-black: #222222;
    --bg-light: #F8F8F8;
    --bg-light-grey: #565656;
    --bg-grey: #c3c3c3;
    --bg-bordeaux: #ac3448;
    --bg-bordeaux-light: #84787abc;
    --bg-darkblue: #606569;
    --bg-darkred: #A30000;
    --bg-green: #5CD451;
    --bg-darkgrey: #444444;
    --title-font: "Luckiest Guy", cursive;
    --main-font: "Maven Pro", sans-serif;

}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }

  
  .maven-pro {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800 */

.teachers {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: var(--bg-darkgrey);
    color: #fff;
}

h1 {
    font-family: "Luckiest Guy", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
}

h2 {
    font-family: "Luckiest Guy", cursive;
    text-align: center;
}

h3 {
    margin: 20px 0;
}

#logoPic{
    width:100px;
}

.navStyle {
    background-color: var(--bg-black); 
    transition: 0.5s ease;

}
.navStyle:hover {
    transition: 0.5s ease;
}

.nav-item a{
    color: var(--bg-light);
}

.dropdown-menu{
    background: var(--bg-darkgrey);
}

.helloUser{
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
  font-size: 1.1em;
  color: var(--bg-light);
  text-shadow: 0px 0px 1px white;
  margin: 2% 10%;
}

.NavlinkStyle{
    text-align: left;
    margin: 10px;
    padding: 10px 5px;
    transition: 0.5s ease;
}
.NavlinkStyle::before{
    content:'|';
    color: white;
    padding-right: 5px;
}
.NavlinkStyle:hover{

    color: white;
    transition: 0.5s ease;
}

.nav-link.active{
    color: #12cbb9!important;
    font-weight: bold;
}

.NavlinkStyle.active::before {
    content:'|';
    color: #12cbb9;
    padding-right: 5px;
}

.mobileLogOff{
    display:none;
}

.footerStyle {
    background-color: var(--bg-black);
    color: var(--bg-light);
    font-size: 10px;
}

.lightFont {
    color: var(--bg-light);
}

.blueFont {
    color: var(--bg-darkblue);
}

.orangeFont {
    color: var(--bg-bordeaux);
}

.lightGreyBg {
    background-color: var(--bg-light-grey);
}

.btnGrey {
    background-color: var(--bg-grey);
    padding: 10px 20px;
    margin-right: 5%;
    margin-top: 5%;
    box-shadow: 1px 1px 2px grey;
}

.btnGrey {
    background-color: var(--bg-grey);
    border: 2px solid var(--bg-grey);
    padding: 10px 20px;
    margin-right: 5%;
    margin-top: 5%;
    box-shadow: 1px 1px 3px grey;
}

.btnGrey:hover {
    border: 2px solid var(--bg-grey);
    box-shadow: none;
}

.navOverlap {
    height: 60px;
}
.accordionTitle{
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.btnOrange {
    background-color: var(--bg-bordeaux);
    border: 2px solid var(--bg-bordeaux);
    color: var(--bg-light);
    font-family: var(--main-font);
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 5%;
    margin-top: 5%;
    box-shadow: 1px 1px 3px grey;
}

.btnOrange:hover {
    border: 2px solid var(--bg-bordeaux);
    color: var(--bg-bordeaux);
    box-shadow: none;
}

.btnBleu {
    background-color: #0064A3;
    color: #f4f4f4;
}

.error{
    margin-top: 0px;
    font-size: .75rem;
    color: red;
    margin-bottom: 10px;
}

.inscriptionSuccess{
    color: green;
    font-size: 1.2em;
    line-height: 1.1em;
    text-align: center;
}

/* aspect des badges bleus */
.text-bg-darkblue {
    color: var(--bg-light);
    background-color: var(--bg-darkblue);
}

/* aspect du dropdown de la FAQ */

.accordion-button:not(.collapsed) {
    color: var(--bg-white);
    background-color: var(--bg-bordeaux);
}

.accordion-button {
    color: var(--bg-white);
    background-color: var(--bg-bordeaux-light);
}

/*position des images*/
.imgCover {
    object-fit: cover;
    height: 200px;
}

#img-container {
    display: flex;
    justify-content: center;
}

#mainImg {
    width: auto;
}

.separatorLinksFooter{
    color: white; 
    font-weight: bold;
}
  
/**************************** VERSION MOBILE ********************************/

@media screen and (min-width: 300px) and (max-width: 768px) {
    .dispNoneMob {
        display: none;
    }
    .imgCover {
        object-fit: cover;
        height: 140px;
    }

    h1 {
        font-size: 4vh;
    }

    h6 {
        font-size: 1em;
    }

    .navtext{
        font-size: 1em;
    }
    .mobileLogOn{
        display:none;
    }
    .mobileLogOff{
        display:block;
    }

    .separatorLinksFooter{
        display: none;
    }

}

@media(max-width:999px) {
    .navOverlap {
        height: 150px;
    }
}